@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  display: flex;
  height: 100vh;
  background: lightgray;
  font-family: "Inconsolata", monospace;
  font-weight: 500; }

#wrap {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.dot, #coffeeMachine #coremachine #control2 #clock #dot1, #coffeeMachine #coremachine #control2 #clock #dot2, #coffeeMachine #coremachine #control2 #clock #dot3, #coffeeMachine #coremachine #control2 #clock #dot4, #coffeeMachine #coremachine #control2 #clock #dot5, #coffeeMachine #coremachine #control2 #clock #dot6, #coffeeMachine #coremachine #control2 #clock #dot7, #coffeeMachine #coremachine #control2 #clock #dot8 {
  background: #000;
  border-radius: 50%;
  content: "";
  position: relative;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
  z-index: 10;
  opacity: 0.8; }

#coffeeMachine {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  #coffeeMachine #coremachine {
    width: 100%;
    height: 120px;
    z-index: 99999;
    background-color: #f4f0cb;
    border-radius: 30px;
    display: flex;
    justify-content: space-around; }
    #coffeeMachine #coremachine #control1 #time {
      width: 43px;
      background-color: #99a574;
      position: absolute;
      top: 33px;
      left: 30px;
      color: white;
      padding: 1px; }
    #coffeeMachine #coremachine #control1 #circle {
      width: 22px;
      height: 22px;
      background-color: #dedab9;
      border: 6px solid #f47c7c;
      border-radius: 50%;
      position: absolute;
      top: 70px;
      left: 40px;
      color: white;
      padding: 1px; }
    #coffeeMachine #coremachine #control2 {
      background-color: #99a574;
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: center; }
      #coffeeMachine #coremachine #control2 #clock {
        width: 90%;
        height: 90px;
        background-color: #ffffdf;
        border-radius: 50%; }
        #coffeeMachine #coremachine #control2 #clock #dot1 {
          left: 50%;
          top: 10%; }
        #coffeeMachine #coremachine #control2 #clock #dot2 {
          left: 80%;
          top: 13%; }
        #coffeeMachine #coremachine #control2 #clock #dot3 {
          left: 20%;
          top: 4%; }
        #coffeeMachine #coremachine #control2 #clock #dot4 {
          left: 10%;
          top: 20%; }
        #coffeeMachine #coremachine #control2 #clock #dot5 {
          left: 90%;
          top: 10%; }
        #coffeeMachine #coremachine #control2 #clock #dot6 {
          left: 22%;
          top: 30%; }
        #coffeeMachine #coremachine #control2 #clock #dot7 {
          left: 80%;
          top: 20%; }
        #coffeeMachine #coremachine #control2 #clock #dot8 {
          left: 50%;
          top: 20%; }
        #coffeeMachine #coremachine #control2 #clock #pin {
          position: relative;
          top: -40%;
          left: 50%;
          width: 5px;
          height: 25px;
          border-left: 2px solid transparent;
          border-right: 2px solid transparent;
          border-bottom: 25px solid #f47c7c;
          z-index: 99999999999;
          transform: translate(-50%, -50%); }
    #coffeeMachine #coremachine #control3 {
      display: flex;
      flex-direction: column; }
      #coffeeMachine #coremachine #control3 #banner {
        position: absolute;
        top: 3%;
        right: 8%;
        font-size: 18px;
        font-weight: 600;
        color: black; }
      #coffeeMachine #coremachine #control3 #bigcircle {
        width: 35px;
        height: 35px;
        background-color: #dedab9;
        border: 9px solid #f47c7c;
        border-radius: 50%;
        position: absolute;
        top: 43px;
        right: 11%;
        color: white;
        padding: 1px; }
      #coffeeMachine #coremachine #control3 #turnon {
        position: absolute;
        width: 30px;
        height: 10px;
        top: 31%;
        right: 11%;
        display: flex; }
        #coffeeMachine #coremachine #control3 #turnon #off {
          width: 50%;
          background-color: #554f3f;
          display: flex;
          justify-content: center;
          align-items: center; }
          #coffeeMachine #coremachine #control3 #turnon #off #symbol {
            height: 7px;
            width: 7px;
            border-radius: 50%;
            border: 1px solid white; }
        #coffeeMachine #coremachine #control3 #turnon #on {
          width: 50%;
          background-color: #99a574;
          display: flex;
          justify-content: center;
          align-items: center; }
          #coffeeMachine #coremachine #control3 #turnon #on #symbol {
            height: 7px;
            width: 0.1px;
            border: 1px solid white; }
  #coffeeMachine #bodymachine {
    width: 88%;
    height: 200px;
    background-color: #c6c48b;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative; }
    #coffeeMachine #bodymachine #handle {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #coffeeMachine #bodymachine #handle #tophandle {
        width: 25%;
        height: 17px;
        background-color: #e8e5c1; }
      #coffeeMachine #bodymachine #handle #bodyhandle {
        width: 25%;
        height: 30px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #f4f0cb; }
        #coffeeMachine #bodymachine #handle #bodyhandle #wrapflex {
          position: relative;
          top: 20%;
          left: 50%;
          display: flex;
          align-items: center;
          width: 200px; }
          #coffeeMachine #bodymachine #handle #bodyhandle #wrapflex #stickhandle {
            width: 60%;
            height: 15px;
            background-color: #f4f0cb; }
          #coffeeMachine #bodymachine #handle #bodyhandle #wrapflex #bottom {
            position: relative;
            width: 10px;
            height: 15px;
            left: -2%;
            border-radius: 50%;
            background-color: #dedab9; }
      #coffeeMachine #bodymachine #handle #bottomhandle {
        width: 7%;
        height: 5px;
        background-color: #f4f0cb; }
    #coffeeMachine #bodymachine #glass {
      margin-top: 9.7%;
      border-top: 55px solid #f47c7c;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      height: 0;
      width: 60px; }
    #coffeeMachine #bodymachine #custom {
      position: relative;
      top: 42%;
      border-top: 10px solid  #554f3f;
      border-left: 2.4px solid transparent;
      border-right: 2.4px solid transparent;
      height: 0;
      width: 50px; }
  #coffeeMachine #base {
    width: 100%;
    height: 50px;
    background-color: #f4f0cb;
    border-radius: 6px;
    border-bottom: 6px solid #554f3f; }
    #coffeeMachine #base #lightutton {
      height: 7px;
      width: 7px;
      border-radius: 50%;
      background-color: lightgreen;
      position: relative;
      top: 18px;
      left: 10px; }

#AllButton {
  margin-top: 25px;
  width: 300px;
  display: flex; }
  #AllButton button {
    flex: 1;
    margin: 0 5px;
    background: #ececf4;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 7px 10px;
    box-shadow: -1px 2px 0 0 rgba(0, 0, 0, 0.2);
    font: inherit;
    font-size: 0.8em; }

/*# sourceMappingURL=style.css.map */
